.dropzone {
	border: 2px dashed rgb(199 210 254) !important;
    width: 70%;
    margin: auto;
}

.dz-success-mark svg g path{
    fill: green !important;
}

.dz-error-mark svg g path{
    fill: red !important;
}

img, video{
    height: 120px !important;
}